<%# social review card item START%>
<div class="max-w-xs mb-10 md:mb-0 md:mr-6">
  <div class="w-full flex justify-between items-center">
    <div class="w-1/3 flex justify-start items-center">
      <%= image_tag 'person-circle-outline.png', class: ''%> 
    </div> 

    <div class="w-2/3 flex flex-col justify-start items-start">
      <h3 class="text-2xl font-semibold text-left text-gray-500 mb-2">
        John Doe
      </h3>

      <h3 class="text-lg font-semibold text-left text-gray-500 mb-4">
        Founder of Sample.com
      </h3>
    </div> 
  </div>
  <%# quote START %>
  <div class="w-full relative pt-8">
    <h3 style="font-size: 100px;position:absolute;top:-20px;left:0;" class="text-primary-purple">"
    </h3>
    <h3 class="text-lg md:text-lg text-gray-500 text-left pt-2 font-semibold">
      <span class="pl-10">This app is great!</span> 
       
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus in porro ea similique dicta unde quibusdam voluptates velit, dolore vitae reprehenderit, deserunt hic quasi consequuntur inventore facere. Ea, illum veniam.
    </h3>
  </div>
  <%# quote END %>
</div>
<%# social review card item END%>