<div class="w-full p-4 flex justify-center items-center">

  <div class="w-1/2 p-4 mx-auto flex flex-col justify-center items-center">
      <%= link_to 'sign up', new_user_registration_path, class: 'text-sm p-2 rounded bg-indigo-800 text-white font-bold mb-4', data: { turbolinks: false }%>
      <%= link_to 'sign in', root_path, class: 'text-sm p-2 rounded bg-indigo-800 text-white font-bold', data: { turbolinks: false } %>
  </div>

</div>

<%= javascript_pack_tag 'src/components/SampleComponent'%>