<% provide(:title, "Terms Of Service")%>

<%# top line %>
<div class="w-full py-1 bg-primary "></div>

<div class="w-full py-8 px-4 flex-column items-center bg-gray-200">
  <div class="w-full max-w-4xl m-auto">
    <h1 class="font-bold text-3xl text-left text-gray-900 mb-2">Terms Of Service</h1>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">Please read these Terms and Conditions ("Terms", "Terms and Conditions" "Terms Of Service") carefully before using the FreshAndTumble.com  website and the Fresh And Tumble Mobile Applications (the "Service") operated by Fresh And Tumble LLC ("us", "we", or "our").</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">By using the FreshAndTumble.com website and/or Mobile Applications from the ("Apple App Store or Google Play Store") you ("The Customer") enter into a contract with Fresh And Tumble LLC to abide by the terms of service below.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Business Classification) - FreshAndTumble.com is an internet business that connects customers with independently contracted partners and laundry experts to perform laundry services based on The Customer's individual requests.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Age Restrictions) - You must be 18 or older to register, sign up, access and/or create orders on the FreshAndTumble.com website or Mobile Applications platforms. You may not use the FreshAndTumble.com or Mobile Application for nefarious reasons purposes or for exploitive behavior.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Website and Mobile App Availability) - There is no guarantee to you ("The Customer") that the FreshAndTumble.com Website Or Mobile Application will be online and accessible. Site/Application Maintenance, Web Server problems or other Application related technical problems may arise and the FreshAndTumble.com Website or Mobile Application may be offline from time to time.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Data Loss) - FreshAndTumble LLC is not responsible for any Data Loss or destruction of customer data due to unforseen technical issues related to the FreshAndTumble.com Website or Mobile Application.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Account Termination) - Fresh And Tumble LLC reserves the right to terminate A Customer (The Customer)'s' account disabling access to the FreshAndTumble.com Website or Mobile Applications at any time for any reason.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(3rd Party Website Links and Content) - Fresh And Tumble LLC is not responsible for the content or validity of any 3rd party Web Links or content that is associated with FreshAndTumble.com, FreshAndTumble Mobile Applications, or our current partners, past partners, or future partners.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Damaged or Lost Clothing Items) - Throughout the normal laundry process, the following wear though relatively rare, is deemed acceptable as per industry standards: (Holes, Rips, Tears, Color Fading, Shrinking, General Wear and Tear. In the rare event of damage or loss to a Customer's clothing item, Fresh And Tumble LLC and it's affiliates will make their best effort to located the item/s and return said item or items to the customer. In the event that the item or items cannot be located, a full refund for the order total will be issued to The Customer at The Customer's request once The Customer has alerted Fresh And Tumble LLC of the loss of item or items.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Skin Irritation / Allergic Reactions) - By creating an order with FreshAndTumble.com or the Mobile Application ("The Customer") is able to select their preferred detergent and additives to be used on their clothes as part of the Laundry Washing Process.  You ("The Customer") must exercise caution and be aware of any possible health related reactions that may occur from the selected detergent/bleach/additive that you request to be used on your laundry (Allergic Reaction, Skin Irritation, Rash, e.t.c) and agree to not hold FreshAndTumble LLC and or it's affiliates responsible.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Use of the FreshAndTumble Website, or Applications) - By using The FreshAndTumble.com website and/or Mobile Applications, you warrant and certify that the information you provide to Fresh And Tumble LLC is accurate. FreshAndTumble LLC has the right at all times to verify the validity of the information that is provided by you ("The Customer")</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Delivery Delays) - In rare circumstances, FreshAndTumble.com and it's affiliates cannot always guarantee (1-2 Days) for laundry pickup and delivery service, due to service delays, transportation delays, and/or Customer residential property access problems.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Customer Contact via Phone or SMS) - In the event that a courier cannot access the customer residential property to pick up an order, ("The Customer") will be contacted via phone number or SMS text message in order to inform ("The Customer") of the issue and request access to ("The Customer"'s) residential property for the purpose of picking up or delivering ("The Customer")'s order. If the courier cannot establish contact with ("The Customer"), the Laundry Pick Up will have failed and ("The Customer")'s order deposit will not be refunded unless by customer request. within 7 business days from the scheduled pickup.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Refunds/Returns) - If ("The Customer") is not satisfied with the quality of service of their FreshAndTumble.com order, they are entitled to a full refund of the order total which is available upon their request.</p>
  </div>

</div>