<div class="w-full px-4 py-2 flex justify-center items-center bg-primary-purple">
  <h3 class="text-white font-semibold text-center">
    This is a cool banner to announce something cool! 
    <%= link_to 'Click Here!', root_path, class: 'underline font-semibold text-white'%>
  </h3>
</div>